@import url('https://fonts.googleapis.com/css?family=Aclonica|Montserrat');

body {
  background-color: #9FBFB9;
  font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Aclonica', sans-serif;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.5em;
}

footer {
  padding: 16px 0; 
  text-align: center; 
  background-color: #2B2B2B; 
  color: #FFFFFF;
  margin-left: -8px;
  margin-right: -8px;
}

/***********************************************
NAV BAR
***********************************************/

nav {
  background-color: #2B2B2B;
  padding: 20px 35px;
  margin-left: -8px;
  margin-right: -8px;
  font-weight: bold;
  color: #FFFFFF;
}

nav li {
  display: inline-block;
}

nav li:after {
  content: ' | '
}

nav li:last-of-type:after {
  visibility: hidden;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}