@import url('https://fonts.googleapis.com/css?family=Aclonica|Montserrat');

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0 8px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Aclonica', sans-serif;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.5em;
}

footer {
  padding: 16px 0; 
  text-align: center; 
  background-color: #2B2B2B; 
  color: #FFFFFF;
  margin-left: -8px;
  margin-right: -8px;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  min-height: calc(100vh - 147px);
}

main *:first-child {
  margin-top: 0px;
}

main *:last-child {
  margin-bottom: 0px;
}

/***********************************************
LINK STYLING
***********************************************/

a {color: #14C3CC;}
a:hover {color: #15CFD9;}


/***********************************************
NAV BAR
***********************************************/

nav {
  background-color: #2B2B2B;
  padding: 20px 8px;
  margin-left: -8px;
  margin-right: -8px;
  font-weight: bold;
  color: #FFFFFF;
  font-size: 1.2em;
  text-align: center;
}

nav a {
  color: #FFFFFF;
  text-decoration: none;
}

nav a:hover, nav a:focus {
  color: #00A651;
}

nav li {
  display: inline-block;
  margin-right: 10px;
}

nav li:last-of-type {
  margin: 0;
}

.current-page {
  color: #00A651;
}

/*nav li:after {
  content: '|'
  margin-left: 10px;
}

nav li:last-of-type:after {
  visibility: hidden;
}*/

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}